/** @format */

html {
  font-size: 62%;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

pre {
  font-size: 1.4rem !important;
  border-radius: 0.5rem !important;
  overflow: hidden;
  width: 95%;
  margin: 0rem auto !important;
  padding: 0 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  background-color: #f1f3f5 !important;
}

p {
  padding: 1rem;
  margin-top: 1rem;
}

li {
  margin-bottom: 1rem;
  /* //list-style-type: disc; */
  list-style: none;
  position: relative;
}

li::after {
  content: "";
  background-color: #212529;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(1.2rem);
  margin-left: -0.3rem;
}

li:last-child {
  margin-bottom: 10rem;
}
